<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Avaliação Apresentações</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Avaliação Apresentações</h1>
				<a class="btn btn-link aw-link-panel" href="/apresentacoes/nova">Nova
					Apresentação</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="col-md-2">Título</th>
						<th class="col-md-4">Descrição</th>
						<th class="col-md-1">Apresentador</th>
						<th class="col-md-1">Votos</th>
						<th class="col-md-1">Status</th>
						<th class="col-md-1">Ações</th>
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="status : ${todasApresentacoes}" th:object="${status}">
						<td class="text-center" th:text="*{id}"></td>
						<td th:text="*{titulo}"></td>
						<td class="text-center" th:text="*{descricao}"></td>
						<td class="text-center" th:text="*{apresentador}"></td>
						<td class="text-center" th:text="*{totalVotos}"></td>
						<td class="text-center" >
							<span class="label" th:text="*{status.descricao}"
								th:classappend="*{ativa ? 'label-success' :  'label-danger'}" >
							</span>
						</td>
						<td></td>
					</tr>

					<tr th:if="${#lists.isEmpty(todasApresentacoes)}">
						<td colspan="7">Nenhuma Apresentação encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

</html>